<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ichenkaihua.oneschedule.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.github.ichenkaihua.oneschedule.entity.User">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="u_id" jdbcType="INTEGER" property="id" />
    <result column="u_name" jdbcType="VARCHAR" property="name" />
    <result column="u_password" jdbcType="VARCHAR" property="password" />
    <result column="u_phone" jdbcType="VARCHAR" property="phone" />
    <result column="u_email" jdbcType="VARCHAR" property="email" />
    <result column="u_avatar_id" jdbcType="INTEGER" property="avatarId" />
    <result column="u_last_time" jdbcType="TIMESTAMP" property="lastTime" />
    <result column="u_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="u_state" jdbcType="INTEGER" property="state" />
    <result column="u_salt" jdbcType="VARCHAR" property="salt" />
  </resultMap>
</mapper>